<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linjun.dao.AdvertsingMapper">
  <resultMap id="BaseResultMap" type="com.linjun.model.Advertsing">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="body" jdbcType="VARCHAR" property="body" />
    <result column="linkUrl" jdbcType="VARCHAR" property="linkurl" />
    <result column="imageId" jdbcType="BIGINT" property="imageid" />
    <result column="stardate" jdbcType="TIMESTAMP" property="stardate" />
    <result column="enddate" jdbcType="TIMESTAMP" property="enddate" />
    <result column="dataCreate" jdbcType="TIMESTAMP" property="datacreate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, body, linkUrl, imageId, stardate, enddate, dataCreate
  </sql>
  <select id="selectByExample" parameterType="com.linjun.model.AdvertsingCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_Advertsing
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_Advertsing
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_Advertsing
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.linjun.model.AdvertsingCriteria">
    delete from t_Advertsing
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.linjun.model.Advertsing">
    insert into t_Advertsing (id, name, body, 
      linkUrl, imageId, stardate, 
      enddate, dataCreate)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{body,jdbcType=VARCHAR}, 
      #{linkurl,jdbcType=VARCHAR}, #{imageid,jdbcType=BIGINT}, #{stardate,jdbcType=TIMESTAMP}, 
      #{enddate,jdbcType=TIMESTAMP}, #{datacreate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.linjun.model.Advertsing">
    insert into t_Advertsing
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="body != null">
        body,
      </if>
      <if test="linkurl != null">
        linkUrl,
      </if>
      <if test="imageid != null">
        imageId,
      </if>
      <if test="stardate != null">
        stardate,
      </if>
      <if test="enddate != null">
        enddate,
      </if>
      <if test="datacreate != null">
        dataCreate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="body != null">
        #{body,jdbcType=VARCHAR},
      </if>
      <if test="linkurl != null">
        #{linkurl,jdbcType=VARCHAR},
      </if>
      <if test="imageid != null">
        #{imageid,jdbcType=BIGINT},
      </if>
      <if test="stardate != null">
        #{stardate,jdbcType=TIMESTAMP},
      </if>
      <if test="enddate != null">
        #{enddate,jdbcType=TIMESTAMP},
      </if>
      <if test="datacreate != null">
        #{datacreate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.linjun.model.AdvertsingCriteria" resultType="java.lang.Long">
    select count(*) from t_Advertsing
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_Advertsing
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.body != null">
        body = #{record.body,jdbcType=VARCHAR},
      </if>
      <if test="record.linkurl != null">
        linkUrl = #{record.linkurl,jdbcType=VARCHAR},
      </if>
      <if test="record.imageid != null">
        imageId = #{record.imageid,jdbcType=BIGINT},
      </if>
      <if test="record.stardate != null">
        stardate = #{record.stardate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.enddate != null">
        enddate = #{record.enddate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.datacreate != null">
        dataCreate = #{record.datacreate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_Advertsing
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      body = #{record.body,jdbcType=VARCHAR},
      linkUrl = #{record.linkurl,jdbcType=VARCHAR},
      imageId = #{record.imageid,jdbcType=BIGINT},
      stardate = #{record.stardate,jdbcType=TIMESTAMP},
      enddate = #{record.enddate,jdbcType=TIMESTAMP},
      dataCreate = #{record.datacreate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.linjun.model.Advertsing">
    update t_Advertsing
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="body != null">
        body = #{body,jdbcType=VARCHAR},
      </if>
      <if test="linkurl != null">
        linkUrl = #{linkurl,jdbcType=VARCHAR},
      </if>
      <if test="imageid != null">
        imageId = #{imageid,jdbcType=BIGINT},
      </if>
      <if test="stardate != null">
        stardate = #{stardate,jdbcType=TIMESTAMP},
      </if>
      <if test="enddate != null">
        enddate = #{enddate,jdbcType=TIMESTAMP},
      </if>
      <if test="datacreate != null">
        dataCreate = #{datacreate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.linjun.model.Advertsing">
    update t_Advertsing
    set name = #{name,jdbcType=VARCHAR},
      body = #{body,jdbcType=VARCHAR},
      linkUrl = #{linkurl,jdbcType=VARCHAR},
      imageId = #{imageid,jdbcType=BIGINT},
      stardate = #{stardate,jdbcType=TIMESTAMP},
      enddate = #{enddate,jdbcType=TIMESTAMP},
      dataCreate = #{datacreate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>