<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linjun.dao.ColumMapper">
  <resultMap id="BaseResultMap" type="com.linjun.model.Colum">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="columName" jdbcType="VARCHAR" property="columname" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="parentID" jdbcType="INTEGER" property="parentid" />
    <result column="parentList" jdbcType="VARCHAR" property="parentlist" />
    <result column="childCount" jdbcType="INTEGER" property="childcount" />
    <result column="dataCreate" jdbcType="TIMESTAMP" property="datacreate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, columName, description, parentID, parentList, childCount, dataCreate
  </sql>
  <select id="selectByExample" parameterType="com.linjun.model.ColumCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_colum
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_colum
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_colum
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.linjun.model.ColumCriteria">
    delete from t_colum
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.linjun.model.Colum">
    insert into t_colum (id, columName, description, 
      parentID, parentList, childCount, 
      dataCreate)
    values (#{id,jdbcType=INTEGER}, #{columname,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{parentid,jdbcType=INTEGER}, #{parentlist,jdbcType=VARCHAR}, #{childcount,jdbcType=INTEGER}, 
      #{datacreate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.linjun.model.Colum">
    insert into t_colum
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="columname != null">
        columName,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="parentid != null">
        parentID,
      </if>
      <if test="parentlist != null">
        parentList,
      </if>
      <if test="childcount != null">
        childCount,
      </if>
      <if test="datacreate != null">
        dataCreate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="columname != null">
        #{columname,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null">
        #{parentid,jdbcType=INTEGER},
      </if>
      <if test="parentlist != null">
        #{parentlist,jdbcType=VARCHAR},
      </if>
      <if test="childcount != null">
        #{childcount,jdbcType=INTEGER},
      </if>
      <if test="datacreate != null">
        #{datacreate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.linjun.model.ColumCriteria" resultType="java.lang.Long">
    select count(*) from t_colum
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_colum
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.columname != null">
        columName = #{record.columname,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.parentid != null">
        parentID = #{record.parentid,jdbcType=INTEGER},
      </if>
      <if test="record.parentlist != null">
        parentList = #{record.parentlist,jdbcType=VARCHAR},
      </if>
      <if test="record.childcount != null">
        childCount = #{record.childcount,jdbcType=INTEGER},
      </if>
      <if test="record.datacreate != null">
        dataCreate = #{record.datacreate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_colum
    set id = #{record.id,jdbcType=INTEGER},
      columName = #{record.columname,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      parentID = #{record.parentid,jdbcType=INTEGER},
      parentList = #{record.parentlist,jdbcType=VARCHAR},
      childCount = #{record.childcount,jdbcType=INTEGER},
      dataCreate = #{record.datacreate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.linjun.model.Colum">
    update t_colum
    <set>
      <if test="columname != null">
        columName = #{columname,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null">
        parentID = #{parentid,jdbcType=INTEGER},
      </if>
      <if test="parentlist != null">
        parentList = #{parentlist,jdbcType=VARCHAR},
      </if>
      <if test="childcount != null">
        childCount = #{childcount,jdbcType=INTEGER},
      </if>
      <if test="datacreate != null">
        dataCreate = #{datacreate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.linjun.model.Colum">
    update t_colum
    set columName = #{columname,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      parentID = #{parentid,jdbcType=INTEGER},
      parentList = #{parentlist,jdbcType=VARCHAR},
      childCount = #{childcount,jdbcType=INTEGER},
      dataCreate = #{datacreate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>