<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linjun.dao.ContentltemMapper">
  <resultMap id="BaseResultMap" type="com.linjun.model.Contentltem">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="contentCategroyID" jdbcType="INTEGER" property="contentcategroyid" />
    <result column="contentModelID" jdbcType="INTEGER" property="contentmodelid" />
    <result column="subject" jdbcType="VARCHAR" property="subject" />
    <result column="body" jdbcType="VARCHAR" property="body" />
    <result column="featuredmageattachId" jdbcType="BIGINT" property="featuredmageattachid" />
    <result column="userID" jdbcType="INTEGER" property="userid" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="datePuished" jdbcType="TIMESTAMP" property="datepuished" />
    <result column="dataCreate" jdbcType="TIMESTAMP" property="datacreate" />
    <result column="lastModifed" jdbcType="TIMESTAMP" property="lastmodifed" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, contentCategroyID, contentModelID, subject, body, featuredmageattachId, userID, 
    author, summary, ip, datePuished, dataCreate, lastModifed
  </sql>
  <select id="selectByExample" parameterType="com.linjun.model.ContentltemCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_contentItem
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_contentItem
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_contentItem
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.linjun.model.ContentltemCriteria">
    delete from t_contentItem
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.linjun.model.Contentltem">
    insert into t_contentItem (id, contentCategroyID, contentModelID, 
      subject, body, featuredmageattachId, 
      userID, author, summary, 
      ip, datePuished, dataCreate, 
      lastModifed)
    values (#{id,jdbcType=INTEGER}, #{contentcategroyid,jdbcType=INTEGER}, #{contentmodelid,jdbcType=INTEGER}, 
      #{subject,jdbcType=VARCHAR}, #{body,jdbcType=VARCHAR}, #{featuredmageattachid,jdbcType=BIGINT}, 
      #{userid,jdbcType=INTEGER}, #{author,jdbcType=VARCHAR}, #{summary,jdbcType=VARCHAR}, 
      #{ip,jdbcType=VARCHAR}, #{datepuished,jdbcType=TIMESTAMP}, #{datacreate,jdbcType=TIMESTAMP}, 
      #{lastmodifed,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.linjun.model.Contentltem">
    insert into t_contentItem
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="contentcategroyid != null">
        contentCategroyID,
      </if>
      <if test="contentmodelid != null">
        contentModelID,
      </if>
      <if test="subject != null">
        subject,
      </if>
      <if test="body != null">
        body,
      </if>
      <if test="featuredmageattachid != null">
        featuredmageattachId,
      </if>
      <if test="userid != null">
        userID,
      </if>
      <if test="author != null">
        author,
      </if>
      <if test="summary != null">
        summary,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="datepuished != null">
        datePuished,
      </if>
      <if test="datacreate != null">
        dataCreate,
      </if>
      <if test="lastmodifed != null">
        lastModifed,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="contentcategroyid != null">
        #{contentcategroyid,jdbcType=INTEGER},
      </if>
      <if test="contentmodelid != null">
        #{contentmodelid,jdbcType=INTEGER},
      </if>
      <if test="subject != null">
        #{subject,jdbcType=VARCHAR},
      </if>
      <if test="body != null">
        #{body,jdbcType=VARCHAR},
      </if>
      <if test="featuredmageattachid != null">
        #{featuredmageattachid,jdbcType=BIGINT},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="author != null">
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="summary != null">
        #{summary,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="datepuished != null">
        #{datepuished,jdbcType=TIMESTAMP},
      </if>
      <if test="datacreate != null">
        #{datacreate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastmodifed != null">
        #{lastmodifed,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.linjun.model.ContentltemCriteria" resultType="java.lang.Long">
    select count(*) from t_contentItem
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_contentItem
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.contentcategroyid != null">
        contentCategroyID = #{record.contentcategroyid,jdbcType=INTEGER},
      </if>
      <if test="record.contentmodelid != null">
        contentModelID = #{record.contentmodelid,jdbcType=INTEGER},
      </if>
      <if test="record.subject != null">
        subject = #{record.subject,jdbcType=VARCHAR},
      </if>
      <if test="record.body != null">
        body = #{record.body,jdbcType=VARCHAR},
      </if>
      <if test="record.featuredmageattachid != null">
        featuredmageattachId = #{record.featuredmageattachid,jdbcType=BIGINT},
      </if>
      <if test="record.userid != null">
        userID = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.author != null">
        author = #{record.author,jdbcType=VARCHAR},
      </if>
      <if test="record.summary != null">
        summary = #{record.summary,jdbcType=VARCHAR},
      </if>
      <if test="record.ip != null">
        ip = #{record.ip,jdbcType=VARCHAR},
      </if>
      <if test="record.datepuished != null">
        datePuished = #{record.datepuished,jdbcType=TIMESTAMP},
      </if>
      <if test="record.datacreate != null">
        dataCreate = #{record.datacreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastmodifed != null">
        lastModifed = #{record.lastmodifed,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_contentItem
    set id = #{record.id,jdbcType=INTEGER},
      contentCategroyID = #{record.contentcategroyid,jdbcType=INTEGER},
      contentModelID = #{record.contentmodelid,jdbcType=INTEGER},
      subject = #{record.subject,jdbcType=VARCHAR},
      body = #{record.body,jdbcType=VARCHAR},
      featuredmageattachId = #{record.featuredmageattachid,jdbcType=BIGINT},
      userID = #{record.userid,jdbcType=INTEGER},
      author = #{record.author,jdbcType=VARCHAR},
      summary = #{record.summary,jdbcType=VARCHAR},
      ip = #{record.ip,jdbcType=VARCHAR},
      datePuished = #{record.datepuished,jdbcType=TIMESTAMP},
      dataCreate = #{record.datacreate,jdbcType=TIMESTAMP},
      lastModifed = #{record.lastmodifed,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.linjun.model.Contentltem">
    update t_contentItem
    <set>
      <if test="contentcategroyid != null">
        contentCategroyID = #{contentcategroyid,jdbcType=INTEGER},
      </if>
      <if test="contentmodelid != null">
        contentModelID = #{contentmodelid,jdbcType=INTEGER},
      </if>
      <if test="subject != null">
        subject = #{subject,jdbcType=VARCHAR},
      </if>
      <if test="body != null">
        body = #{body,jdbcType=VARCHAR},
      </if>
      <if test="featuredmageattachid != null">
        featuredmageattachId = #{featuredmageattachid,jdbcType=BIGINT},
      </if>
      <if test="userid != null">
        userID = #{userid,jdbcType=INTEGER},
      </if>
      <if test="author != null">
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="summary != null">
        summary = #{summary,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="datepuished != null">
        datePuished = #{datepuished,jdbcType=TIMESTAMP},
      </if>
      <if test="datacreate != null">
        dataCreate = #{datacreate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastmodifed != null">
        lastModifed = #{lastmodifed,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.linjun.model.Contentltem">
    update t_contentItem
    set contentCategroyID = #{contentcategroyid,jdbcType=INTEGER},
      contentModelID = #{contentmodelid,jdbcType=INTEGER},
      subject = #{subject,jdbcType=VARCHAR},
      body = #{body,jdbcType=VARCHAR},
      featuredmageattachId = #{featuredmageattachid,jdbcType=BIGINT},
      userID = #{userid,jdbcType=INTEGER},
      author = #{author,jdbcType=VARCHAR},
      summary = #{summary,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=VARCHAR},
      datePuished = #{datepuished,jdbcType=TIMESTAMP},
      dataCreate = #{datacreate,jdbcType=TIMESTAMP},
      lastModifed = #{lastmodifed,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>