<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linjun.dao.PlateMapper">
  <resultMap id="BaseResultMap" type="com.linjun.model.Plate">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="ownerID" jdbcType="INTEGER" property="ownerid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="featuredmageattachId" jdbcType="BIGINT" property="featuredmageattachid" />
    <result column="isEnable" jdbcType="CHAR" property="isenable" />
    <result column="displayOlder" jdbcType="BIGINT" property="displayolder" />
    <result column="dataCreate" jdbcType="TIMESTAMP" property="datacreate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, ownerID, name, description, featuredmageattachId, isEnable, displayOlder, dataCreate
  </sql>
  <select id="selectByExample" parameterType="com.linjun.model.PlateCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_plate
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_plate
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_plate
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.linjun.model.PlateCriteria">
    delete from t_plate
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.linjun.model.Plate">
    insert into t_plate (id, ownerID, name, 
      description, featuredmageattachId, isEnable, 
      displayOlder, dataCreate)
    values (#{id,jdbcType=INTEGER}, #{ownerid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{featuredmageattachid,jdbcType=BIGINT}, #{isenable,jdbcType=CHAR}, 
      #{displayolder,jdbcType=BIGINT}, #{datacreate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.linjun.model.Plate">
    insert into t_plate
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="ownerid != null">
        ownerID,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="featuredmageattachid != null">
        featuredmageattachId,
      </if>
      <if test="isenable != null">
        isEnable,
      </if>
      <if test="displayolder != null">
        displayOlder,
      </if>
      <if test="datacreate != null">
        dataCreate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="ownerid != null">
        #{ownerid,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="featuredmageattachid != null">
        #{featuredmageattachid,jdbcType=BIGINT},
      </if>
      <if test="isenable != null">
        #{isenable,jdbcType=CHAR},
      </if>
      <if test="displayolder != null">
        #{displayolder,jdbcType=BIGINT},
      </if>
      <if test="datacreate != null">
        #{datacreate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.linjun.model.PlateCriteria" resultType="java.lang.Long">
    select count(*) from t_plate
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_plate
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.ownerid != null">
        ownerID = #{record.ownerid,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.featuredmageattachid != null">
        featuredmageattachId = #{record.featuredmageattachid,jdbcType=BIGINT},
      </if>
      <if test="record.isenable != null">
        isEnable = #{record.isenable,jdbcType=CHAR},
      </if>
      <if test="record.displayolder != null">
        displayOlder = #{record.displayolder,jdbcType=BIGINT},
      </if>
      <if test="record.datacreate != null">
        dataCreate = #{record.datacreate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_plate
    set id = #{record.id,jdbcType=INTEGER},
      ownerID = #{record.ownerid,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      featuredmageattachId = #{record.featuredmageattachid,jdbcType=BIGINT},
      isEnable = #{record.isenable,jdbcType=CHAR},
      displayOlder = #{record.displayolder,jdbcType=BIGINT},
      dataCreate = #{record.datacreate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.linjun.model.Plate">
    update t_plate
    <set>
      <if test="ownerid != null">
        ownerID = #{ownerid,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="featuredmageattachid != null">
        featuredmageattachId = #{featuredmageattachid,jdbcType=BIGINT},
      </if>
      <if test="isenable != null">
        isEnable = #{isenable,jdbcType=CHAR},
      </if>
      <if test="displayolder != null">
        displayOlder = #{displayolder,jdbcType=BIGINT},
      </if>
      <if test="datacreate != null">
        dataCreate = #{datacreate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.linjun.model.Plate">
    update t_plate
    set ownerID = #{ownerid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      featuredmageattachId = #{featuredmageattachid,jdbcType=BIGINT},
      isEnable = #{isenable,jdbcType=CHAR},
      displayOlder = #{displayolder,jdbcType=BIGINT},
      dataCreate = #{datacreate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>